<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body class="d-flex">

    <header class="d-flex flex-column justify-content-between bg-light pt-8 pb-8 pe-20">

      <nav class="d-flex flex-column">

        <h1 class="logo ps-8 mb-8">
          <a href="#">ANSWER</a>
        </h1>

        <ul class="nav flex-column">
          <li class="nav-item d-flex mb-5">
            <a class="nav-link active ps-8 align-middle" aria-current="page" href="#">
              <span class="material-icons align-middle">chrome_reader_mode</span>
              <span class="ms-4">Dashboard</span>
            </a>
          </li>
          <li class="nav-item d-flex mb-5">
            <a class="nav-link ps-8 align-middle" href="#">
              <span class="material-icons align-middle">quiz</span>
              <span class="ms-4">Question</span>
            </a>
          </li>
          <li class="nav-item assignment d-flex mb-5">
            <a class="nav-link ps-8 align-middle text-secondary" href="#">
              <span class="material-icons align-middle">assignment</span>
              <span class="ms-4">Assignment</span>
            </a>
          </li>
          <li class="nav-item d-flex mb-5">
            <a class="nav-link ps-8 align-middle" href="#">
              <span class="material-icons align-middle">school</span>
              <span class="ms-4">Course</span>
            </a>
          </li>
          <li class="nav-item d-flex mb-5">
            <a class="nav-link ps-8 align-middle" href="#">
              <span class="material-icons align-middle">source</span>
              <span class="ms-4">Admin</span>
            </a>
          </li>
          <li class="nav-item d-flex mb-5">
            <a class="nav-link ps-8 align-middle" href="#">
              <span class="material-icons align-middle">settings</span>
              <span class="ms-4">Settings</span>
            </a>
          </li>
        </ul>

    </nav>


      <div class="user d-flex ps-8">
        <img class="d-block me-4" src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true" alt="user photo">
        <div class="userName d-flex flex-column">
          <span>Andy Chen</span>
          <span class="text-gray fs-7">andy0401@mail.com</span>
        </div>
      </div>

    </header>


    
    <%- contents %>

   
    <script src="https://cdn.ckeditor.com/ckeditor5/[version.number]/[distribution]/ckeditor.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>